.container.spacer {
    height: 66px;
}

.container.drinks {
    margin-top: 50px;
    margin-bottom: 50px;
}

.col.drink {
    padding-bottom: 75px;
    text-align: -webkit-center;
}

.drinkmodal.card{
    position: fixed;
    left: 50%;
    top: 50%;
}