.container.spacer {
    height: 66px;
}

.container.drinks {
    margin-top: 50px;
    margin-bottom: 50px;
}

.col.drink {
    padding-bottom: 75px;
    text-align: -webkit-center;
}

.drinkmodal.card{
    position: fixed;
    left: 15%;
    top: 15%;
    right: 15%;
    bottom:15%;
    flex-direction: inherit;
}


.card-text {
    font-family: Inter-Medium;
}