.header.logo {
    padding-bottom: 10px;
}

a:-webkit-any-link {
    color: unset;
    text-decoration: unset;
}
a:-webkit-any-link:hover {
    color: unset;
}

a:-webkit-any-link:active {
    color: unset;
    background-color: unset;
}