.coffee-main {
    float: left;
    width: 50%;
}

.car {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caritem {
    flex-direction: column;
}

.box-row {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.box-item {
    width: 200px;
    height: 300px;
    text-align: center;
}

.box-item p {
    margin-top: 20px
}